@font-face {
  font-family: Display-Bold;
  src: url(../images/SFPRODISPLAYBOLD.OTF);
  font-family: 700;
}
@font-face {
  font-family: Display-Medium;
  src: url(../images/SFPRODISPLAYMEDIUM.OTF);
  font-family: 500;
}
@font-face {
  font-family: Display-Regular;
  src: url(../images/SFPRODISPLAYREGULAR.OTF);
  font-family: 400px;
}
